 .sentence {
      background-color: white;
      clear: both;
 }
 .question {
      padding-left: 0.6em;
 }
 .rating {
     padding-left: 0.6em;
 }
 .sentence div {
      background-color: white;
      border-bottom: 1px solid;
      color: white;
      border-color: #9ea4b1;
      float: left;
      margin-right: 0.6em;
      margin-bottom: 2em;
 }
 .practice-text {
     color: blue; 
     font-weight: bold;
 }
