 body {
     color: black;
     background-color: white;
     font-size: small;
 }
 .sentence {
      background-color: white;
      clear: both;
 }
 .question {
      padding-left: 0.6em;
 }
 .rating {
     padding-left: 0.6em;
 }
 .rating-choice {
     margin-top: 1em;
 }
 .sentence div {
      background-color: white;
      border-bottom: 1px solid;
      color: white;
      border-color: #9ea4b1;
      float: left;
      margin-left: 0.6em;
      margin-bottom: 2em;
 }
 .preamble {
     margin-left: 0.6em;
     margin-bottom: 2em;
 }
 .lpad {
     margin-left: 0.6em;
     margin-right: 0.6em;
 }
 .bar-container {
     border: 1px solid;
     border-color: #9ea4b1;
     background-color: white;
 }
 .bar {
     background-color: blue;
  }
 .progress-text {
     padding-top: 0.5em;
     margin-top: 0;
     font-style: italic;
 }
 .practice-text {
     color: blue; 
     font-weight: bold;
 }
 .number-message {
     font-style: italic;
     margin-top: 1.5em;
 }
 .next-sentence-message {
     font-style: italic;
 }
 .next-sentence-message b {
     font-style: normal;
     color: red;
 }
 .finished-message {
     font-weight: bold;
     margin-top: 2em;
 }
 .sending-results {
     margin-left: 0.5em;
     margin-top: 2em;
     font-weight: bold;
     font-size: medium;
 }
 .counter {
     font-weight: bold;
     font-size: x-large;
     color: blue;
     border: solid 1px red;
     text-align: center;
     width: 2em;
     height: 2em;
 }
 .counter-number {
     padding-top: 0.5em;
 }
