.question {
  margin-left: 0;
  padding-left: 0;
}
.question-text {
  font-style: italic;
}
.instructions-text {
  font-style: italic;
  clear: left;
  padding-top: 1em;
}
.scale-box {
    float: left;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-right: 1em;
    padding-right: 0;
    border: 1px black solid;
    width: 2em;
    height: 2em;
    padding-top: 0.5em;
    text-align: center;
}
li:hover.scale-box { cursor: pointer; }
.scale-comment-box {
    float: left;
    list-style: none;
    margin-left: 0em;
    padding-left: 0;
    margin-right: 1em;
    padding-right: 0;
    padding-top: 0.5em;
    text-align: center;
    font-style: italic;
}

li.scale-box a {
    text-decoration: none; 
    display: block;
    vertical-align: middle;
}
li.scale-box a:hover {
    text-decoration: none;
    display: block;
    vertical-align: middle;
}
